
.fundo{
  background-color: #4c264b;
  background-blend-mode: overlay;
  height: 100vh; // altura virtual = altura da tela
  display: flex;
  align-items: center;
}

.conteudo{
  background: #FFFFFFbb;
  margin: 0 24px;
  padding: 18px;
  border-radius: 16px;
}

.charada{
  font-size: 30px;
}

.puff-in-center { /*aplicativo animista*/
	animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}